<h4 class="text-center mt-2">This is the TurboChat About page</h4>
<div class="container-sm text-left col-6">
  TurboChat was written (well...okay - transcribed) by this old guy as part of a course.<br>
  He is the founder of: <span class="fst-italic">&copy;Some Guy&trade;</span>
    <span class="fw-normal"> S/W Productions</span>
</div>

<div class="container text-center mt-2">
  <%= avatar_for_name('David Peloso', size:('200x200')) %>
</div>

<div class="container-sm text-left col-6 mt-2">
  TurboChat is a web application for hosting chat sessions.  You can join a chat room, create a new chat room, or chat privately with one other user.<br>
  It is written in Ruby on Rails.
</div>
